body {
  font-family: "Hiragino Sans","ヒラギノ角ゴシック";
  font-weight: 900;
}
li{
  list-style: none;
}

.header-list{
  width:960px; height:50px;
}

.header-list li,.header-logo{
	list-style-type:none;		/*リストマーカー無しにする*/
	display:inline;			/*リスト項目をインライン表示にする*/
	float:left;			/*リスト項目を横に並べる*/
  padding: 20px 40px;
  white-space:nowrap;
}
.header-list li a{
  /*background-color:navy;*/	/*背景色*/
	color:#ffffff;		/*文字色*/
  display:block;			/*リンク部分をブロック表示にする*/
  width:130px; height:35px;	/*幅と高さ*/
  padding:15px 0px 0px 0px;	/*上パディング*/
	text-align:center;		/*テキストをセンター揃えにする*/
	text-decoration:none;		/*リンク部分を下線無しにする*/
}
.header-list a:hover{
  color: #2f5167;
}
.header-logo a{
  /*background-color:navy;*/	/*背景色*/
  font-family: "Hiragino Sans","ヒラギノ角ゴシック";
	color:#ffffff;		/*文字色*/
  display:block;			/*リンク部分をブロック表示にする*/
  width:130px; height:35px;	/*幅と高さ*/
  padding:0px 0px 0px 0px;	/*上パディング*/
	text-align:center;		/*テキストをセンター揃えにする*/
  text-decoration:none;		/*リンク部分を下線無しにする*/
}
.header-logo a:hover{
  color: black;
}
.t-content{
  border-bottom: 3px solid gray;
}
.t-contents{
  border: 5px solid red;
  white-space:nowrap;
}
.main h2 li a{
  /*background-color:navy;*/	/*背景色*/
	color:#ffffff;		/*文字色*/
  display:block;			/*リンク部分をブロック表示にする*/
  width:260px; height:35px;	/*幅と高さ*/
  padding:0px 0px 0px 0px;	/*上パディング*/
  text-decoration:none;		/*リンク部分を下線無しにする*/
}
.main h2 li a:hover{
  color: black;
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}
.header-logo{
  font-size: 36px;
  float: left;

  padding: 20px 40px;
}

.main {
  height: auto !important;
  background-image : url("MameBG.png");
  padding: 10px 40px;
}
div.center {
  padding-top: 50px;
  text-align: center; 
}
.copy-container h1{
  text-align: center;
  font-size: 100px;
  text-shadow:0 5px 5px rgb(255, 255, 255);
}

.copy-container h2{
  text-align: center;
  font-size: 40px;
}
.copy-container span{
  font-size: 70px;
  color: rgb(77, 77, 77);
  font-family: Arial, Helvetica, sans-serif;
}
.contents-group contents-item img{
  display:block;			/*リンク部分をブロック表示にする*/
  height: 200px;
}
.contents-group contents-item span{
  color: rgb(77, 77, 77);
  font-family: Arial, Helvetica, sans-serif;
}

.contents{
  height: 600px;
}
.contents-group {
  height: auto !important;
  height: 500px;
  padding: 10px 40px;
}
.contents iframe{
  position: absolute;
  width: 93%;
}
.section-title{
  font-size:30px;
  color: rgb(255, 0, 0);
  border-bottom:2px solid #dee7ec;
}
.contents-item{
  float: left;
  margin-right:20px;
  margin-bottom:15px;
}

.contents-item dd a{
  font-size:17px;
  text-decoration:none;		/*リンク部分を下線無しにする*/
  color:#000000;		/*文字色*/
  display:block;			/*リンク部分をブロック表示にする*/
}

.contents-item dt{
  font-size:10px;
  color:#00000083;		/*文字色*/
}

.contact-form{
  padding-top:100px;
}

input, textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}
.contact-submit {
  background-color: #dee7ec;
  color: #889eab;
}

.footer {
  background-color: #2f5167;

  color:#fff;

  height: 100px;

  padding:40px;
}
.footer-logo{
  font-size:50px;
  float:left;
}
.footer-list{
  float:right;
}
.footer-list li a{
  padding-bottom:20px;
  text-decoration:none;		/*リンク部分を下線無しにする*/
  color:#ffffff;		/*文字色*/
  padding: 15px 40px;
  display:block;			/*リンク部分をブロック表示にする*/
  height: 5px;
}